/* mixed style */

.text-color {
    color: #8987A1;
}

/* header section */

/* navbar */

/* header banner */
.banner {
    background-image: url('/Assets/Hero-bg.png');
    background-repeat: no-repeat;
    width: 100%;
}


/* main section */

main {
    background-color: #D6DDED;
}



/* footer */

/* get in touch section */
.get-in-touch {
    background-color: #D6DDED;
}

/* bottom-footer */
.bottom-logo {
    font-size: 70px;
    color: #4E47FF;
}

.bottom-footer {
    background-color: white;
    border-top: solid 1px lightgray;
    padding: 50px 100px;
    text-align: center;
}

.bottom-footer ul {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.bottom-footer a {
    text-decoration: none;
    color: #8987A1;
}

.bottom-footer ul li {
    list-style-type: none;
}