/* header section */

/* navbar */

/* header banner */
.banner {
    background-image: url('/Assets/Hero-bg.png');
    background-repeat: no-repeat;
    width: 100%;
}

/* footer */

/* get in touch section */
.get-in-touch {
    background-color: #D6DDED;
}

/* bottom-footer */
.bottom-footer {
    background-color: white;
}